extend _layout.pug
block content
  div(class="container")
    div(class="about" style="margin-top:20px; margin-left:250px")
      h1 Hplus Team
      div(class="Ifomation" style="margin-top:20px; background:#FFFFFF")
        div(class="A1")
          h4 Phạm Quốc Hoàng
            span(style="color:hotpink;") 1412183
          img(src="image/image-team/1412183.jpg")

      div(class="Ifomation" style="margin-top:20px; background:#FFFFFF")
        div(class="A1")
          h4 Hà Ngọc Huy
            span(style="color:blue;") 1412199
          img(src="image/image-team/1412199.jpg")
        h4 Địa chỉ
      img(src="image/image-team/maps.png" )
