extends layout.pug
block content
    .container
      .jumbotron
        h1 2HTeam
        div
          span(style={color:'green'}) 1412183 Ph&#x1EA1;m Qu&#x1ED1;c Ho&agrave;ng
          div
            span(style={color:'green'}) 1412199 H&agrave; Ng&#x1ECD;c Huy
